
<!-- selector code -->
<mat-form-field>
    <mat-label>Pick Animal</mat-label>
    <mat-select [(ngModel)]="id">
        <mat-option *ngFor="let animal of animals | async" [value]="animal.id">
            {{animal.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<!--This is a reset button-->
<button mat-raised-button
    color="primary"
    (click)="resetAnimal()"
    class = "move-right">
    Reset Animal
</button>

<!-- This returns the animal description-->  
<mat-card class="centered-card">
    <ng-container *ngFor="let animal of animals | async">
        <ng-container *ngIf="id == animal.id">
            <div>{{ animal.description }}</div>
        </ng-container>
    </ng-container>
    <ng-container *ngFor="let animal of animals | async">
        <ng-container *ngIf="id == animal.id">
            <div>
                <img [src]="animal.image" alt="">
            </div>
        </ng-container>
    </ng-container> 
</mat-card>  